<suite name="MySuite">
    <test name="MyTest">
        <parameter name="username" value="yourUsername" />
        <parameter name="password" value="yourPassword" />
        <parameter name="email" value="yourEmail" />
        <classes>
            <class name="tests.RegisterTest" />
        </classes>
    </test>
</suite>