<suite name="MySuite">
    <test name="MyTest">
        <parameter name="username" value="Chocho" />
        <parameter name="password" value="auto_pass" />
        <parameter name="email" value="chocho@gmail.com" />
        <classes>
            <class name="tests.RegisterTest" />
        </classes>
    </test>
</suite>